<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reto2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0BFA6AD1C76CAEF000763F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0BFA6C11C76CAF1000763F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0BFA6CC1C76CAF1000763F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
